.containerAbogados {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  gap: 1em;
}
.title.nombre {
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em;
  background-color: var(--rojo);
  color: var(--blanco);
}
.title {
  font-size: 2em;
  font-weight: bold;
}
.derechoContainer {
  /* background-color: var(--blanco); */
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--blanco);
  padding: 2em 1em;
  text-align: justify;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
}
.button {
  padding: 0.2em 1.5em;
  text-decoration: none;
  width: 150px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  background-color: var(--rojo);
  border-radius: 0.5em;
  align-self: center;
  text-align: center;
}
.containerContacto {
  display: flex;
  flex-direction: column;
  background-color: var(--rojo);
  padding: 1.5em 0.75em;
  gap: 0.75em;
  border-radius: 0.5em;
}
.infoContacto {
  display: flex;
  gap: 0.5em;
}

.infoContacto a {
  display: flex;
  color: var(--blanco);
  justify-content: center;
  align-items: center;
}
.infoContacto a:hover {
  text-decoration: underline;
  color: white;
}

.sectionContainer.centerSection::after,
.sectionContainer.centerSection::before {
  content: "";
  border: 1px solid rgba(10, 10, 10, 0.4);
  width: 70%;
  align-self: center;
  margin: 1em;
}
.link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--negro);
}

.itemEstudio {
  font-weight: 500;
  margin: 0.7rem 0;
}
