/* NUESTRAS AREAS */
.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 10%;
}

.containertarjetas {
  width: 100%;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.tituloseccion {
  font-weight: 800;
  font-size: 2.5rem;
  font-family: "cairo";
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 1250px) {
  .containertarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .containertarjetas {
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
  }
}

/* CONTACTO */

.contactoContainer {
  background-color: var(--blanco);
  width: 100%;
  padding: 2rem 6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cardContacto {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  /* MODIFICAR EL CENTER PARA QUE SOLO PASE EN EL DIV DE ARRIBA Y NO EN EL MAPA EN TAMAÑO CHICO */
}

.espaciado {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cardContacto div p:first-child {
  color: var(--rojo);
  font-size: 1.4rem;
  font-weight: 600;
}

.infoContacto {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mapa {
  border: 2px solid var(--rojo);
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
}
.mapa iframe {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 1250px) {
  .cardContacto {
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .contactoContainer {
    padding: 2rem 1rem;
  }
  .cardContacto {
    align-items: normal;
  }

  .mapa iframe {
    width: 100%;
  }
}

/* NOSOTROS  */
.nosotrosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
  width: 100vw;
}
.nosotrosSubContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.imgNosotros {
  width: 40vw;
  border-radius: 5px;
}

.textoNosotros {
  width: 40vw;
}
@media (max-width: 1000px) {
  .nosotrosSubContainer {
    flex-direction: column;
  }
  .imgNosotros {
    width: 90vw;
  }

  .textoNosotros {
    width: 90vw;
  }
}
