/* NUESTRAS AREAS */
.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 10%;
}

.containertarjetas {
  width: 100%;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.tituloseccion {
  font-weight: 800;
  font-size: 2.5rem;
  font-family: "cairo";
  margin-bottom: 2rem;
  text-align: center;
  margin: 1rem 0;
}
@media (max-width: 1250px) {
  .containerHome {
    margin: 0;
    padding: 1em;
  }
}
@media (max-width: 1250px) {
  .containertarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .containertarjetas {
    grid-template-columns: repeat(1, 1fr);
    /* padding: 1em; */
  }
}

/* CONTACTO */

.contactoContainer {
  /* background-color: var(--blanco); */
  width: 100%;
}
.containerCards {
  background-color: var(--blanco);
  padding: 2rem 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .containerCards {
    padding: 2rem 1rem;
  }
}

.cardContacto {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  /* MODIFICAR EL CENTER PARA QUE SOLO PASE EN EL DIV DE ARRIBA Y NO EN EL MAPA EN TAMAÑO CHICO */
}

.espaciado {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 40%;
}

.cardContacto h3 {
  color: var(--rojo);
  font-size: 1.4rem;
  font-weight: 700;
}

.infoContacto {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--negro);
}
.link:hover {
  text-decoration: underline;
  font-weight: 600;
}

.mapa {
  border: 2px solid var(--rojo);
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
}
.mapa iframe {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 980px) {
  .cardContacto {
    flex-direction: column;
  }
  .espaciado {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .espaciado h3 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .contactoContainer {
    padding: 2rem 1rem;
  }
  .cardContacto {
    align-items: normal;
  }

  .mapa iframe {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .espaciado {
    justify-content: start;
  }
}

/* NOSOTROS  */
.nosotrosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0rem 1rem; */
  margin-bottom: 2rem;
}
.nosotrosSubContainer {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /*gap: 1rem;*/
}
.imgNosotros {
  width: 40vw;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.textoNosotros {
  width: 40vw;
  background-color: var(--blanco);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 1em;
}
@media (max-width: 1000px) {
  .nosotrosSubContainer {
    flex-direction: column;
  }
  .imgNosotros {
    width: 90vw;

    border-bottom-left-radius: 0em;
    border-top-right-radius: 0.5em;
  }

  .textoNosotros {
    width: 90vw;
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
}

.chatBotIcon {
  background-color: var(--rojo);
  color: var(--blanco);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
