.headerContainer {
  background-color: var(--blanco);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem 20em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 5rem;
}
@media (width <1440px) {
  .headerContainer {
    padding: 0.5rem 10em;
  }
}
@media (width <=1100px) {
  .headerContainer {
    padding: 0.5rem 2em;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <=768px) {
  .headerContainer {
    grid-template-columns: 1fr 2fr;
  }
}
img {
  max-width: 100%;
}

.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.enlaces a {
  /* margin: 0 1rem; */
  text-decoration: none;
  color: var(--negro);
  font-family: "Cairo";
  font-weight: 600;
}

.enlaces a:hover {
  color: var(--rojo);
}

.imgHeader {
  width: 10rem;
}
